.paybox{
  background: url('https://cdnb.artstation.com/p/assets/images/images/011/811/863/large/casey-chretien-chesswallpaper-final.jpg?1531520903') center/cover no-repeat;
}
.payment-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
    background: url('../images/chess3.jpg') center/cover no-repeat;
  }
  
  .payment-container h2 {
    margin-bottom: 20px;
  }
  
  .payment-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .payment-container label {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .payment-container input, .payment-container select {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
  }
  
  .payment-container button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .payment-container button:hover {
    background-color: #0056b3;
  }
  